body{
    background-color: rgb(14, 12, 44);
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(31, 27, 95);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 100px;
}
.dropbtn {
    background-color: #ffffff;
    color: rgb(31, 27, 95);
    padding: 16px;
    font-size: 20px;
    border: none;
    width: 100px;
    height: 50px;
}
#nm a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* meni */
.menu {
    position: relative;
    display: inline-block;
}
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content a:hover{
    background-color: #ddd;
}
.menu:hover .content{
    display: block;
}
.menu:hover .dropbtn{
    background-color: #c3bcd6;
    transition: linear 0.2s;
}
/*pocetna*/
.starter{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    
}
.likovi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.starter h2{
    padding-left: 100px;
    font-style: italic;
}
.likovi img{
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 2px white solid;
}
/*likovi*/
#baizhu img{
    position: absolute;
    left: 250px;
    top: 310px;
}
#baizhu a{
    position: relative;
    top: 262px;
    right: 72px;
    background-color: rgb(75, 161, 17);
    width: 304px;
    height: 42px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#wanderer img{
    position: absolute;
    left: 580px;
    top: 310px;
}
#wanderer h1{
    position: relative;
    top: 262px;
    right: 46px;
    background-color: rgb(68, 224, 172);
    width: 304px;
    display: flex;
    justify-content: center;
}
#lyney img{
    position: absolute;
    left: 910px;
    top: 310px;
}
#lyney h1{
    position: relative;
    top: 262px;
    right: 20px;
    background-color: rgb(255, 38, 0);
    width: 304px;
    display: flex;
    justify-content: center;
}
#arlecchino img{
    position: absolute;
    left: 1240px;
    top: 310px;
}
#arlecchino h1{
    position: relative;
    top: 262px;
    left: 6px;
    background-color: rgb(255, 38, 0);
    width: 304px;
    display: flex;
    justify-content: center;
}